*,
::after,
::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
}
body{
    box-sizing: border-box;
    
    
        background-color: rgb(206, 7, 7);
        color: wheat;
 
}