.button__primary{
    color: #fff;
    background-color: $color-black;
    border-radius: 8px;
    padding: 1rem;

}

.button__secondary{
    text-decoration: underline;
    color: grey;
}

.checkmark{
    margin-right: 1rem;
}